<!doctype html>
<html ng-app="angularVideo">
    <head>
        <meta charset="utf-8">
        <title>Angular-video</title>
    </head>
    <body ng-controller="MainCtrl">
      <div>
           <iframe width="560" height="315" ng-src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>
       </div>
       <input type="text" placeholder="Search" ng-model="search" ng-keyup="videoList(search)">
        <ul>
            <li ng-repeat="video in list" ng-click="getVideoUrl(video.id.videoId)">
                <h2>{{video.snippet.title}}</h2>
                <img ng-src="{{video.snippet.thumbnails.medium.url}}" alt="" >
            </li>
        </ul>
        <script src="vendors/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services/youtubeService.js"></script>
        <script src="js/controllers/MainCtrl.js"></script>
    </body>
</html>